.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo--color {
  color: #000000;
}
