.contact-list {
  display: flex;
}

.contact-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font($fw: 500, $ls: 0.02em);
  color: inherit;
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--trans-dur-250ms);
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }
}

.contact-list__icon {
  margin-right: 10px;
  animation-name: tada;
  animation-duration: 750ms;
  animation-timing-function: var(--cubic-bezier);
  animation-iteration-count: infinite;

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    animation-play-state: paused;
  }
}
